body {
    background-color: #abcdef;
    text-align: center;
}

#heading {
    font-size: 40px;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.option, #submitButton {
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.option {
    margin-top: 100px;
    border: 2px solid red;
}

#submitButton {
    margin-top: 30px;
    border: 2px solid green;
}

.option:hover{
    background-color: red;
    color: white;
}

#submitButton:hover{
    background-color: green;
    color: white;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

input[type=text]:focus {
    background-color: lightblue;
}

#draw, #delete {
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#draw:hover{
    background-color: blue;
    color: white;
}

#delete:hover{
    background-color: red;
    color: white;
}

table {
    margin-left:auto;
    margin-right:auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px red;
    color: #452F21;
}

th {
    padding: 10px 8px;
    background: white;
}

table th:first-child {
    border-top-left-radius: 20px;
}

table th:last-child {
    border-top-right-radius: 20px;
}

td {
    border-top: 10px solid red;
    padding: 8px;
    background: white;
}

table td:first-child {
    border-bottom-left-radius: 20px;
}

table td:last-child {
    border-bottom-right-radius: 20px;
}

